* {
	box-sizing: border-box;
}

.dropdown-menu .divider {
	border: 0;
	margin: 5px;
}

.nav li + .nav-header {
	margin-top: 0;
}

.form__group, .row {
	margin: 0 -15px;
}

.form__group-btn {
	margin-top: 10px;
}

.form__group:before, .form__group:after
.row:before, .row:after {
	content: '';
	clear: both;
	display: block;
	width: 100%;
}

.col {
	float: left;
	padding: 0 15px;
}

.col-1 {
	width: 8.333333333333332%
}

.col-2 {
	width: 16.666666666666664%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33333333333333%;
}

.col-5 {
	width: 41.66666666666667%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.333333333333336%;
}

.col-8 {
	width: 66.66666666666666%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33333333333334%;
}

.col-11 {
	width: 91.66666666666666%;
}

.col-12 {
	width: 100%;
}

.btn:focus {
	outline: none;
}

.text-left {
	text-align: left !important;
}

.text-right {
	text-align: right !important;
}

.text-center {
	text-align: center !important;
}

.header, .page {
	position: relative;
	width: 100%;
}

.page {
	padding-top: 60px; 
}

.b-table {
	overflow: auto;
	width: 100%;
}

.b-form {
	position: relative;
	/* display: inline-block; */
	max-width: 1200px;
}

label {
	display: inline-block;
	margin-bottom: 5px;
	font-weight: bold;
}

.form-control {
	width: 100%;
}

input[type="text"], input[type="password"] {
	height: 30px;
}

.textarea {
	resize: none;
}

/* модалка */
.b-modal {
	position: fixed;
	z-index: 10000;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
	background: rgba(0, 0, 0, .85);
	display: none;
	cursor: pointer;
}
.b-modal--show {
	display: block;
}
.modal {
	position: absolute;
	display:none;
	font-size: 16px;
}
.modal._show {
	display: block;
}
.modal-ip {
	min-width: 300px;
	max-width: 750px;
	background: #ffffff;
	border-radius: 10px;
	color: #000000;
	padding: 20px;
}
.modal-ip a {
	color: #6A6B6F;
	border: none;
}

.modal-note {
	text-align: center;
}

.modal-title {
	text-align: center;
}
.modal-title .title {
	display: block;
	color: #e0423c;
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 0.3em;
}
.modal-title .pre-title {
	display: block;
	color: #656565;
	margin: 0 20px;
}
.modal-container {
	/*padding: 25px 0;*/
}
.modal-form__msg {
	font-size: 14px;
	color: #d72e2e;
	padding: 20px;
}

/* .modal-form__item input::-webkit-input-placeholder {color:#67686C;}
.modal-form__item input::-moz-placeholder          {color:#67686C;}
.modal-form__item input:-moz-placeholder           {color:#67686C;}
.modal-form__item input:-ms-input-placeholder      {color:#67686C;} */

.modal-close {
	/* width: 42px;
	height: 42px;
	background: url("../img/cross.png") no-repeat center;
	background-size: 22px; */
	border: none;
	position: absolute;
	right: -42px;
	top: 0;
	cursor: pointer;
	-webkit-transition: -webkit-transform .5s ease;
	transition: transform .5s ease;
}
/* .modal-close:hover {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
} */